---
Name: local-default
---

# This is used to configure the permissions for assets, specifically when building from the command line.

SilverStripe\Assets\Flysystem\PublicAssetAdapter:
  server_configuration:
    php:
      '.htaccess': "SilverStripe\\Assets\\Flysystem\\PublicAssetAdapter_HTAccess"

# This is used to configure the permissions for *protected* assets, specifically when building from the command line.

SilverStripe\Assets\Flysystem\ProtectedAssetAdapter:
  server_configuration:
    php:
      '.htaccess': "SilverStripe\\Assets\\Flysystem\\ProtectedAssetAdapter_HTAccess"
---
Name: local-custom
---


---
Name: ss-log-file
---
SilverStripe\Core\Injector\Injector:
  Psr\Log\LoggerInterface:
    calls:
      LogFileHandler: [ pushHandler, [ %$LogFileHandler ] ]
  LogFileHandler:
    class: Monolog\Handler\StreamHandler
    constructor:
      - "/var/log/silverstripe/silverstripe.log"
      - "info"
    